.btn {
  width: 240px;
  height: 45px;
  color: white;
  background: var(--color-blue);
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(0, 79, 255, 0.3);
  transition: 0.3s;
}

.btn:hover {
  background: var(--color-light-blue);
  cursor: pointer;
  box-shadow: 0 2px 4px var(--color-light-blue);
}
