.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:10px;
    font-size: 14px;
}

.text{
    display: flex;
    align-items: center;
}

.role{
    background: var(--color-light-blue);
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
    color: white;
}

.report{
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #EB4C36;
    font-weight: bold;
}