.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 212px 0px 220px 0px;
    font-size: larger;
    font-weight: 400;
}

.footer_ {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_row {
    margin-top: 70px;
    margin-bottom: 40px;
}